raspberry_pi_setup.txt
data_v2-0.yaml
data_v1-0.yaml
ulang_sys_env/
training/
scripts/
runs/
pending_sync/
kivy_study/
annotation_predictions/
yolov8n-obb.pt
train_v2-0.py
train_v1-0.py
opencv_yolo_inference_study/