raspberry_pi_setup.txt
import json.py
gemini-code-1782878392477.py
data_v2-0.yaml
data_v1-0.yaml
ulang_sys_env/
training/
scripts/
runs/
pending_sync/
kivy_study/
annotation_predictions/
yolov8n-obb.pt
yolo26n.pt
train_v2-0.py
train_v1-0.py
run_model.py